.lyrWrapper{
    span{
        position: absolute;
        width: 430px;
        height: 50px;
        left: 182px;
        top: 120px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color: #2B416C;
    }
}

@media only screen and (max-width: 350px) {
    .lyrWrapper{
        span{
            font-size: 30px;
            left: 20px;
            top:80px;
            width: 268px;
        }
    }
 }

 @media only screen and (max-width: 800px) {
    .lyrWrapper{
        span{
            font-size: 30px;
            left: 30px;
            top:80px;
            width: 268px;
        }
    }
 }