.customOverlay{
    .overlay{
        z-index: 5;
        width: 12999px;
        height: 120000px;
        position: absolute;
        top: 0px;
        left: 0px;
    
    }
    .whiteOverlay{
        background: white;
        opacity: 0.8;
    }
    .blackOverlay{
        background: black;
        opacity: 0.4;
    }
}

@media only screen and (max-width: 350px) {
    .customOverlay{.overlay{width: 100%;}}
 }
 @media only screen and (max-width: 800px) {
    .customOverlay{.overlay{width: 100%;}}
 }