.headerWrp{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #1F2640;
    img{
        position: absolute;
        width: 147px;
        height: 45px;
        left: 182px;
        top: 17px;
    }
}

@media only screen and (max-width: 350px) {
   .headerWrp{
       width: 100%;
       img{
           left: 20px;
           
       }
   }
}

@media only screen and (max-width: 800px) {
    .headerWrp{
        width: 100%;
        img{
            left: 40px;
        }
    }
 }




