.calendar{
    background-image: url('../../assets/calendar.png');
}
.file{
    background-image: url('../../assets/file.png'); 
}
.price{
    background-image: url('../../assets/Price.png'); 
}
.statistics{
    background-image: url('../../assets/statistics-report.png'); 
}
.item1{
    background-image: url('../../assets/Bitmap.png'); 
}
.item1{
    background-image: url('../../assets/Bitmap1.png'); 
}
.item2{
    background-image: url('../../assets/Bitmap2.png'); 
}
.item3{
    background-image: url('../../assets/Bitmap3.png'); 
}
.item4{
    background-image: url('../../assets/Bitmap4.png'); 
}
.item5{
    background-image: url('../../assets/Bitmap5.png'); 
}
.item6{
    background-image: url('../../assets/Bitmap6.png'); 
}
.item7{
    background-image: url('../../assets/Bitmap7.png'); 
}
.item8{
    background-image: url('../../assets/Bitmap4Large.png'); 
}
